body{
  background-color: black;
}
#page-container {
  text-align: center;
}
#header-img {
  width: 15vh;
}
.nav-link {
  font-size: 2.5vh;
  color: white;
  margin: 0 20px;
}
#page-landing {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), 
    url(https://www.cyberpunk.net/build/images/home/cover-1920-en-527c5659.jpg);
  /* Create triangle on bottom of div */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
#title-img {
  display: block;
  margin-top: 150px;
  margin-left: 53vw;
  margin-right: auto;
  width: 45vw;
  height: auto;
}
/* Features Section */
#features {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/* Large Screens */
@media only screen and (min-width: 1300px) {
  .feature-container {
    float: left;
    margin: 3vw;
    position: relative;
    text-align: center;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: absolute;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 110px;
    left: 100px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
}
/* Medium Screens */
@media only screen and (min-width: 955px) and (max-width: 1300px) {
  .feature-container {
    margin: 60px;
    position: relative;
    text-align: center;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  #immortality-caption {
    position: relative;
    left: 235px;
    width: 350px;
  }
  #mercenary {
    float: left;
  }
  #future {
    float: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: absolute;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 110px;
    left: 100px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  #immortality-text {
    left: 330px;
    bottom: 100px;
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
}
/* Small Screens */
@media only screen and (max-width: 955px) {
  .feature-container {
    margin: 3vw;
    position: relative;
    text-align: center;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: absolute;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 75px;
    left: 75px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
}
