body{
  background-color: black;
}
#page-container {
  text-align: center;
}
#header-img {
  width: 17vh;
}
.navbar {
  background-color: rgb(250, 240, 2);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.nav-link {
  font-size: 2.5vh;
  color: white;
  margin: 0 20px;
}
.nav-link:hover {
  color: rgb(2, 216, 243);
}
#page-landing {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), 
    url(https://www.cyberpunk.net/build/images/home/cover-1920-en-527c5659.jpg);
  /* Create triangle on bottom of div */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
/* Large Screens */
@media only screen and (min-width: 1300px) {
  #title-img {
    position: relative;
    top: 225px;
    margin-left: 53vw;
    width: 45vw;
    height: auto;
  }
  #features {
    display: flex;
    justify-content: space-around;
  }
  .feature-container {
    margin: 3vw;
  }
  .section-title {
    margin-top: 3vw;
    color: rgb(2, 216, 243);
    font-size: 50px;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: relative;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 180px;
    left: 100px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  #immortality-text {
    bottom: 210px;
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
  .video {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 75vw;
    height: 42vw;
  }
}
/* Medium Screens */
@media only screen and (min-width: 955px) and (max-width: 1300px) {
  #features {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #title-img {
    position: relative;
    top: 225px;
    margin-left: 53vw;
    margin-right: auto;
    width: 45vw;
    height: auto;
  }
  .feature-container {
    margin: 60px;
    position: relative;
    text-align: center;
  }
  .section-title {
    margin-top: 60px;
    color: rgb(2, 216, 243);
    font-size: 50px;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  #immortality-caption {
    position: relative;
    left: 235px;
    width: 350px;
  }
  #mercenary {
    float: left;
  }
  #future {
    float: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: absolute;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 100px;
    left: 100px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  #immortality-text {
    left: 330px;
    bottom: 90px;
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
  .video {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 75vw;
    height: 42vw;
  }
}
/* Small Screens */
@media only screen and (max-width: 955px) {
  #features {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #title-img {
    position: relative;
    top: 425px;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: auto;
  }
  .feature-container {
    margin: 3vw;
    position: relative;
    text-align: center;
  }
  .section-title {
    margin-top: 1vh;
    color: rgb(2, 216, 243);
    font-size: 50px;
  }
  figcaption {
    width: 350px;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  .feature-img {
    width: 350px;
    heigth: auto;
  }
  .feature-text {
    position: absolute;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 75px;
    left: 75px;
    line-height: 30px;
    background-color: rgb(250, 240, 2);
  }
  .feature-text p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
  }
  .video {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 75vw;
    height: 42vw;
  }
}
.border-img {
  transform: rotate(180deg);
  width: 100%;
}
